body{
    width: 100%;
    margin: 30px;
    background-color: #661710;
}

#profile-container{
    max-width: 300px;
    background-color: #F23827;
    border: 1px solid #CC2F21;
    border-radius: 6px;
}

#foto-profil{
    width: 100%;
    height: auto;
}

#profile-image{
    text-align: center;
}